<h4>Как писать правила?</h4>
<p>Правила применяются только к текущему авторизованному пользователю.</p>
<p>Поле "Лимит использований" - определяет сколько раз текущий значок может быть использован у пользователя прошедшего тест.</p>

<h5>Проверка по тестам</h5>
<p><mark>Test</mark> - для текущего проходимого теста, используется с дополнительными методами. "Лимит использования" без ограничений.</p>
<p><mark>Test(1)</mark> - для теста с id 1, используется с дополнительными методами. "Лимит использования" рекомендовано установить в 1.</p>
<p><mark>Test(all)</mark> - сработает когда пользователь пройдет все опубликованные тесты, для этого правила "Лимит использований" должно быть равно 1 и без использований дополнительных методов.</p>

<b>Дополнительные методы к тестам:</b>
<p><mark>count</mark> - возвращает количество попыток сдачи текущего теста.</p>
<p><mark>level</mark> - возвращает уровень проходимого теста.</p>
<p><mark>percent</mark> - возвращает с каким процентом правильных ответов был пройден этот тест.</p>
<p>Возвращенное значение нужно сравнивать с положительными целыми числами используя знаки: <mark>==</mark>, <mark>></mark>, <mark><</mark>, <mark>>=</mark>, <mark><=</mark>.<br>Как использовать см. ниже.</p>

<b>Примеры использования:</b>
<p><mark>Test.count==1</mark> - сработает когда <u>текущий</u> тест пройден с первой попытки.</p>
<p><mark>Test.level==10</mark> - сработает когда пройден <u>текущий</u> тест с уровнем 10.</p>
<p><mark>Test.percent>90</mark> - сработает когда пройден <u>текущий</u> тест с более 90% правильных ответов.</p>

<p><mark>Test(1).count==1</mark> - сработает когда <u>тест с id 1</u> пройден с первой попытки.</p>
<p><mark>Test(1).level==10</mark> - сработает когда пройден <u>тест с id 1</u> и уровнем 10.</p>
<p><mark>Test(1).percent==100</mark> - сработает когда пройден <u>тест с id 1</u> со 100% правильных ответов.</p>

<p><mark>Test(all)</mark> - сработает когда будут пройдены все опубликованные тесты.</p>

<h5>Проверка по категориям</h5>
<p><u>У категории нет дополнительных методов!</u></p>
<p><u>У всех категорий "Лимит использований" должно быть равно 1!</u></p>
<p><mark>Category</mark> - сработает когда пользователь пройдет все опубликованные тесты из той же категории что и текущий пройденный тест.</p>
<p><mark>Category(2)</mark> - сработает когда пользователь пройдет все опубликованные тесты из <u>категории c id 2</u>.</p>

<h5>Комбинирование</h5>
<p>Тесты, категории можно комбинировать между собой в более сложные правила, на счет использования в правилах <mark>and</mark>, <mark>or</mark>.<br>Простые правила должны быть отделены друг от друга знаком <mark>;</mark> <br>Как использовать см. ниже.</p>

<b>Примеры использования:</b>
<p><mark>Test.count==1<b>;</b> and<b>;</b> Test.percent==100</mark> - сработает когда <u>текущий</u> тест пройден с первой попытки <u>И</u> cо 100% правильных ответов.</p>

<p><mark>Test.count==1<b>;</b> or<b>;</b> Test.percent==100</mark> - сработает когда <u>текущий</u> тест пройден с первой попытки <u>ИЛИ</u> cо 100% правильных ответов.</p>

<p><mark>Test.count==1<b>;</b> and<b>;</b> Test.percent==100;</b> and<b>;</b> Test.level==1</mark> - сработает когда <u>текущий</u> тест пройден с первой попытки <u>И</u> cо 100% правильных ответов <u>И</u> у теста уровень сложности равен 1.</p>

<p><mark>Test(4).percent>90<b>;</b> and<b>;</b> Test(3).percent>90</mark> - сработает когда <u>тест с id 4 <b>И</b> 3</u> пройден с более чем 90% правильных ответов.</p>

<p><mark>Category(1)<b>;</b> and<b>;</b> Category(2)</mark> - сработает когда будут пройдены все опубликованные тесты из <u>категорий с id 1 <b>И</b> 2</u>.</p>

<p><mark>Test(1).level>10<b>;</b> and<b>;</b> Category(3)</mark> - сработает когда <u>тест с id 1</u> будет пройден <u>И</u> будут пройдены все опубликованные тесты из <u>категорий с id 3</u></p>