<h3>Как писать правила?</h3>
<h4>Проверка по тестам</h4>
<p>Test.count==1</p>
<p>Test.level==1</p>
<p>Test(5).count==1</p>
<p>Test(5).level<3</p>
<p>Test(1).percent>80</p>
<p>Test(all)</p>

<h4>Проверка по категориям</h4>
<p></p>

<h4>Комбинирование</h4>
<p></p>