<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<p>
<% if @test_passage.success? %>
  <span class='test-success'>Test passed successfully with <b><%= @test_passage.percent_success_answer %>%</b></span>
<% else %>
  <span class='test-fail'>Test failed with <b><%= @test_passage.percent_success_answer %>%</b></span>
<% end %>
</p>

<%= link_to 'Back to tests', tests_path %>