<% if resource.present? && resource.errors.present? %>
  <div class="resource-errors alert alert-danger" role="alert" id="error_explanation" data-test-id='<%= resource.id %>'>
    <h5 class="alert-heading">
      <%= t('.header', count: resource.errors.count) %>
    </h5>
    <hr>
    <ul class="list-unstyled">
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>