<p>Привет <%= @resource.email %>!</p>

<p>Ваша учетная запись заблокирована из-за слишком большого количества неудачных попыток входа.</p>

<p>Щелкните ссылку ниже, чтобы разблокировать учетную запись:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
