<div class="row justify-content-center">
  <div class="col col-sm-10 col-md-8 col-lg-5">
    <h2 class='mb-4'><%= t('.header') %></h2>

    <%= render 'form' %>

    <%= link_to t('.link_back'), admin_tests_path, class: 'btn btn-secondary mt-4', role: 'button' %>
  </div>
</div>