<h1>List tests</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Level</th>
      <th colspan="2">Questions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>